body{
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23000" d="M4.5.79v22.42l6.56-6.57h9.29L4.5.79z"></path></svg>') 12 12, auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html,body{
    overflow-x: hidden;
}

.slider-container{
    overflow-x: visible;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../Fontspring-DEMO-theseasons-reg.woff2');
}

@font-face {
    font-family: 'Over the Rainbow';
    src: url('../OvertheRainbow.woff');
}
@font-face {
    font-family: 'Le Jour';
    src: url('../LeJourSerif.woff2');
    font-weight: 1000;
    
}

@font-face {
    font-family: 'TT BlueScreen' ;
    src: url('../ttblue.woff2');
}
@font-face {
    font-family: Poppins;
    src: url('../Poppins.woff2');
}