body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@font-face {
    font-family: 'The Seasons';
    src: url('../Fontspring-DEMO-theseasons-reg.woff2');
}

@font-face {
    font-family: 'Over the Rainbow';
    src: url('../OvertheRainbow.woff');
}
@font-face {
    font-family: 'Le Jour';
    src: url('../LeJourSerif.woff2');
    font-weight: 1000;
    
}

@font-face {
    font-family: 'TT BlueScreen' ;
    src: url('../ttblue.woff2');
}
@font-face {
    font-family: Poppins;
    src: url('../Poppins.woff2');
}