.slider-container{
    position: relative;
    background-image: url('../assets/projects-bg.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    min-height: 110vh;
    display: flex;
    overflow: hidden;
  
    
}

.slider-wrapper{
    display: flex;
    flex-wrap: nowrap;
    
  
}
.each-proj{
    flex: 0 0 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0
   
}
.proj-img{
    width: 100%;
    height: auto;

}
.proj-desc{
    color: white;
    font-size: 17px;
    max-width: 100%;
    min-width: 30%;
    text-align: justify;
    font-family: Poppins;
    font-weight: 500;

}
.projects-container{
    text-align: center;
    font-size: 90px;
    margin: 6% 10%;
    align-items: center;

}
.projects{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
    padding-left: 50px;
}
.fav{
    font-size: 50px;
    align-items: center;
    font-family: Poppins;
    color: white;
    font-weight: 1000;


}
.proj{
    font-size: 150px;
    font-family: "TT BlueScreen";
    bottom: 0;
    line-height: 0;
}