.slider-container{
    position: relative;
    background-image: url('../assets/projects-bg.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    min-height: 100vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    
   
}
.each-proj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 350px;
}
.proj-img{
    max-width:50%;
    min-width: 30%;

}
.proj-desc{
    color: white;
    font-size: 20px;
    margin: 30px auto;
    max-width: 50%;
    min-width: 30%;
    text-align: justify;
    font-family: Poppins;
}
.projects-container{
    text-align: center;
    font-size: 90px;
    font-family: "TT BlueScreen";
    line-height: 1;

}
.projects{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
    padding-left: 50px;
}